#notActiveLanguage, #activeLanguage {
    border: 1px solid #eee;
    width: 100%;
    margin: 2px;
    padding: 5px 3px;
}
#notActiveLanguage li, #activeLanguage li {
    margin: 2px 0;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
}
#notActiveLanguage li i {
float: right;
}
#notActiveLanguage li i span{
float: left;
    margin-left: 5px;
}

#activeLanguage li i {
float: left;
}
#activeLanguage li span {
    float: right;
    margin-right: 5px;
}
#activeLanguage .fa-arrow-right {
  display: none;
}
#notActiveLanguage .fa-arrow-left,#notActiveLanguage .fa-times,#notActiveLanguage .fa-wrench {
  display: none;
}

.modal-header{
    background: cornflowerblue;
}
.btn {
    padding-top: 2px;
}

.default .fa-arrow-left {
    display: none;
}